<div>
    <div class="d-flex header">
        <div>
            <h1>Haz una pregunta</h1>
        </div>
        <div class="close-x cursor-pointer" (click)="irAlListado()">X</div>
    </div>
    <form [formGroup]="form">
        <div class="inputs">
            <label for="titulo">Título de publicaci&oacute;n</label>
            <input class="input-data" type="text" name="titulo" id="titulo" formControlName="titulo" placeholder="Escribe tu título aquí">
            <div>
                <small class="blockquote-footer" *ngIf="!form.get('titulo').valid && form.get('titulo').touched">Favor de ingresar un titulo</small>
            </div>
        </div>
        <div class="inputs">
            <label for="publicacion">Publicaci&oacute;n</label>
            <input class="input-data" type="text" name="publicacion" id="publicacion" formControlName="publicacion" placeholder="Escribe tu publicación aquí">
            <div>
                <small class="blockquote-footer" *ngIf="!form.get('publicacion').valid && form.get('publicacion').touched">Favor de ingresar un apellido</small>
            </div>
        </div>
            <button type="submit" class="button-submit" (click)="publicar()" [disabled]="!form.valid">{{modoEdit ? 'Modificar' : 'Publicar'}}</button>
    </form>
</div>