<div>
    <div class="cursor-pointer" (click)="irAlListado()">Volver al listado</div>
    <div class="d-flex">
        <h1>Haz una pregunta</h1>
    </div>
    <form class="d-flex" [formGroup]="form">
        <div class="inputs">
            <label for="titulo">Título de publicaci&oacute;n</label>
            <input class="w-100" type="text" name="titulo" id="titulo" formControlName="titulo" placeholder="Escribe tu título aquí">
            <span class="blockquote-footer" *ngIf="!form.get('titulo').valid && form.get('titulo').touched">Favor de ingresar un titulo</span>
        </div>
        <div class="inputs">
            <label for="publicacion">Publicaci&oacute;n</label>
            <input class="w-100" type="text" name="publicacion" id="publicacion" formControlName="publicacion" placeholder="Escribe tu publicación aquí">
            <span class="blockquote-footer" *ngIf="!form.get('publicacion').valid && form.get('publicacion').touched">Favor de ingresar un apellido</span>
        </div>
        <button type="submit" (click)="publicar()">{{modoEdit ? 'Modificar' : 'Publicar'}}</button>
    </form>
</div>