/* You can add global styles to this file, and also import other style files */
.cursor-pointer {
    cursor: pointer;
}

.w-100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.d-relative {
    display: relative;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.inputs {
    width: 100%;
    display: block;
    padding: 10px;
}

.input-data {
    width: 95%;
    border-radius: 5px;
    height: 30px;
    border: 1px solid;
    margin: 3px;
}

.button-submit {
    height: 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    width: 70px;
    justify-content: center;
    border-color: blue;
    background-color: #3843d0;
    color: #ffffff;
}

.header {
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
    padding-left: 10px;
    color: darkslategrey;
}

.close-x {
    font-size: xx-large;
}

input.ng-touched.ng-invalid{
    border: 1px solid red;
}
textarea.ng-touched.ng-invalid{
    border: 1px solid red;
}

.list {
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
}

.add-button {
    position: absolute;
    bottom: 10%;
    right: 10%;
    font-size: xx-large;
    background-color: blue;
    color: white;
    /* padding-top: 0px; */
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
}