/* You can add global styles to this file, and also import other style files */
.cursor-pointer {
    cursor: pointer;
}

.w-100 {
    width: 100%;
}

.d-flex {
    display: flex;
}

.d-relative {
    display: relative;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}